@model IEnumerable<PracticalTask1.Models.UserModel>

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Password</th>
            <th>Is Admin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Phone</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.IsAdmin</td>
                <td>
                    <span>@user.Id</span>
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = user.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br /><br />
@Html.ActionLink("Create New User", "Create", null, new { @class = "btn btn-primary" })
